<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSmokeSuite" verbose="1">
	<listeners>
		<listener class-name="com.listener.ExtentReporterNG" />
		<listener class-name="com.listener.RetryListener"/>
	</listeners>
	<test name="SmokeTest">
		<classes>
			<class name="TestClasses.LoginPageTest" />
			<class name="TestClasses.HomePageTest" />
		</classes>
	</test>
</suite>
    